@import url('https://fonts.googleapis.com/css2?family=Jost&family=Kanit:ital,wght@0,500;1,200&family=Oswald:wght@500&family=Pacifico&family=Poppins&family=Quicksand&family=Roboto+Mono:ital,wght@1,300&family=Yellowtail&display=swap');
/* bangla fonts  */
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Kanit:ital,wght@0,500;1,200&family=Oswald:wght@500&family=Pacifico&family=Poppins&family=Quicksand&family=Roboto+Mono:ital,wght@1,300&family=Signika&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600&family=Jost&family=Kanit:ital,wght@0,500;1,200&family=Oswald:wght@500&family=Pacifico&family=Poppins&family=Quicksand&family=Roboto+Mono:ital,wght@1,300&family=Signika&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600&family=Jost&family=Kanit:ital,wght@0,500;1,200&family=Oswald:wght@500&family=Pacifico&family=Poppins&family=Quicksand&family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital@1&family=Signika&family=Yellowtail&display=swap');
:root{
  --light-blue:#51E1ED;
  --dark-blue:#03203C;
  --white:#ecf0f1;
  --dark:#000000;
  --yellow:#E8BD0D;
}
body{
  background-color: #f8f8f8;
  text-decoration: none;
 -webkit-font-smoothing: antialiased;
 -webkit-scroll-smoothing:smooth;
 list-style: none;
}
html{
  -webkit-text-size-adjust: 100%;
}
a{
  text-decoration: none;
}
